.showcase {
    background-image: url("https://virtualtutoringsf.org/vtIMG/Top.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 300px;
}
/*new css*/

/* .containerabout{
position: relative;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 40px 0;
}

.containerabout .card{
position: relative;
width: 300px;
height: 400px;
background: #e9ab38;
margin: 20px;
box-shadow: 0 15px 35px rgba(105, 105, 105, 0.2);
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(10px);
}

.containerabout .card .content {
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
opacity: 0.5;
transition: 0.5s;
}

.containerabout .card:hover .content{
opacity: 1;
}

.containerabout .card .content .imgBx{
position: relative;
width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden;
border: 10px solid rgba(0, 0, 0, 0.2);
}

.containerabout .card .content .imgBx img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.containerabout .card .content .contentBx h3{
color: white;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 500;
font-size: 18px;
text-align: center;
margin: 20px 0 10px;
line-height: 1.1em;
}

.containerabout .card .content .contentBx h4{
color: white;
text-transform: initial;
letter-spacing: 2px;
font-weight: 300;
font-size: 12px;
text-align: center;
margin: 20px 0 10px;
line-height: 1.1em;
} */

.serviceHeaderPPP {
    color: rgb(56, 56, 56);
    font-size: 3rem;
}

#mainNavbar {
    font-size: 1rem;
    font-weight: 400;
}

/* #mainNavbar .navbar-brand {
color: #ea1c2c;
font-size: 2rem;
} */

/* #mainNavbar .nav-link {
    color: orange;
    font-size: 20px;
} */

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

.navbar.scrolled {
    background: white;
    transition: background 500ms;
}

.textBlock {
    padding: 20px;
    background-color: #e6e6e6;
    border: #cccccc solid 1px;
    border-radius: 20px;
    margin: 50px 0px;
}

.footerRow {
    display: flex;
    flex-direction: column;
}

.newCard {
    color: white;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: orange solid 1px;
    background-color: #e9ab38;
    box-shadow: 0 15px 35px rgb(105 105 105 / 20%);
    margin: 15px;
}

.imgBox {
    height: 150px;
    width: 150px;
    margin: auto;
    border: orange solid 1px;
    border-radius: 50%;
    margin: 30px auto;
    object-fit: cover;
}
/* .card {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.cardAddons {
    background-color: #e9ab38; 
    border:#928e8e solid 1 px; 
    border-top-left-radius: 20px !important; 
    border-top-right-radius: 20px !important;
}
.card-body {
    background-color: #e9ab38;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    line-height: 1.1em;
}

.card-img-top {
    object-fit: cover;
} */

.card {
    margin-top: 2em;
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.card img {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card .card-title {
    font-weight: 700;
    font-size: 1.5em;
}
/* .card .btn {
    border-radius: 2em;
    background-color: teal;
    color: #ffffff;
    padding: 0.5em 1.5em;
}
.card .btn:hover {
    background-color: rgba(0, 128, 128, 0.7);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

.newBtn {
    background: orange;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

/* Container needed to position the button. Adjust the width as needed */
.container1 {
    position: relative;
}

/* Make the image responsive */
.container1 img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container1 .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4682b4;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.carousel-control-prev {
}
.carousel-control-next {
}
